In [5]:
print("hello world");

hello world

In [28]:
a=(int(input("enter a number:")))
print(a);

enter a number: 6

6

In [26]:
print("salman khan")

salman khan

In [30]:
print(7)

7

In [32]:
print(25.3)

25.3

In [34]:
print(True)

True

In [43]:
print("hello" ,2,4.8,False)

hello 2 4.8 False

In [45]:
print("hello" ,2,4.8,False, sep="/")   #sep=seperaator

hello/2/4.8/False

In [47]:
print("hello")
print("world")

hello
world

In [49]:
print("hello",end="-")
print("world")

hello-world

# datatypes

In [57]:
# integer
# float
# boolean
# String
# complex number
print(8,4.2,True,"hello world", 6+5j)

8 4.2 True hello world (6+5j)

In [59]:
#list
print([1,2,3,4])

[1, 2, 3, 4]

In [63]:
#tuple
print((4,6,3))

(4, 6, 3)

In [65]:
#sets
print({1,23,4,5})

{1, 4, 5, 23}

In [67]:
# Dictionary
print({'name':'Danish'})

{'name': 'Danish'}

# type function()

In [70]:
type(3)

int

In [72]:
type(3.2)

float

In [74]:
type([1,2,3])

list

# variables

In [79]:
name="danish"
print(name)
type(name)

danish

str

In [81]:
a=5.5
b=5
print(a+b)

10.5

In [84]:
#Dynamic typing
# a=4
#static typing
#int a =5;

In [86]:
# Dynamic Binding
a=5;
print(a);
a="Dhanya"
print(a)

5
Dhanya

In [88]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [90]:
a=b=c=5
print(a,b,c)

5 5 5

# input method

In [4]:
c=input('apna naam bata:')
print(c)

apna naam bata: Danish

Danish

In [12]:
# write a program to add two numbers 
c=int(input("enter the 1st number:")) #type conversion
b=int(input("enter the 2nd number:"))
d=c+b
print("the sum is:", d)

enter the 1st number: 25
enter the 2nd number: 25

the sum is: 50

In [16]:
c=str(input("enter the 1st number:")) #type conversion
b=str(input("enter the 2nd number:"))
d=c+b
print("the sum is:", d)

enter the 1st number: 25
enter the 2nd number: 25

the sum is: 2525

In [18]:
# literal
a=None
print(a)

None

# operators

In [23]:
# arithmetic operators

In [27]:
#  +,-,*,/,%
print(5+6)
print(9-3)
print(5*5)
print(5/2)
print(5//2)  #integer division 
print(7%2)
print(5**3) #power

11
6
25
2.5
2
1
125

In [29]:
# Relational operators
print(4>5)
print(4<5)
print(5>=5)
print(4<=2)
print(6==6)
print(27!=24)

False
True
True
False
True
True

In [33]:
# logical operators -> and , or ,and not
print(1 and 0)
print(1 and 1)
print(1 or 0)
print(0 or 0)
print(not 1)  # interpreter considerd as false

0
1
1
0
False

In [2]:
# Bitwsie operators
print(2 & 3)  #bitwise and 
print (2|3) # bitwise or
print( 2^3) # bitwise xor          -> operates on bytes and binary
print(4>>2) #left shift
print( 5<<2) # right shift

2
3
1
1
20

In [6]:
# assignment operators
a=2
a +=2
a *=2
print(a)

8

In [10]:
# member ship operator
#in / not in
print("D" in "Delhi")
print("a" in "micro")

True
False

In [12]:
# solve a problem
n=int(input("enter a 3 digit number:"))
a=(n%10)   # 345%10  
n=n//10
b= n%10    #34%10
n=n//10
c=n%10     #3%10
n=n//10
print(a+b+c)

enter a 3 digit number: 666

18

# conditional statements

In [5]:
#IF ELIF ELSE
n=int(input("enter a number:"))
if n%2==0:
    print("even number")
elif n<0:
    print("negative number")
elif n%2!=0:
    print("odd number")

enter a number: 2

even number

In [7]:
email=input("enter email:")
password=input("enter password:")
if email=="danish@gmail.com" and password=="1234":
    print("welcome")
elif email=="danish@gmail.com" and password!="1234":
    print("incorrect password")
    password=input("enter password again:")
    if password == "1234":
        print("welcome finally")
    else:
        print("beta tumse na ho payega")
else:
    print("error")

enter email: danish@gmail.com
enter password: 4545

incorrect password

enter password again: 5656

beta tumse na ho payega

In [13]:
# find the minimum of 3 number 
a=int(input("enter 1st num:"))
b=int(input("enter 2st num:"))
c=int(input("enter 3st num:"))
if a<b and a<c:
    print(a, " is smallest number")
elif b<c:
    p4rint(b,"smallest number")
else:
    print(c,"smallest number")

enter 1st num: 1
enter 2st num: 2
enter 3st num: 3

1  is smallest number

In [19]:
# menu driven calculator
fn=float(input("enter the 1st num:"))
sn=float(input("enter the 1st num:"))
op=input("enter the operation:")

if op=="+":
    print(fn+sn)
elif op=="-":
    print(fn-sn)
elif op=="*":
    print(fn*sn)
else :
    print(fn/sn)

enter the 1st num: 6
enter the 1st num: 6
enter the operation: +

12.0

# modules

In [28]:
# math module
import math
math.factorial(5)
math.floor(6.8)
math.sqrt(196)

14.0

In [34]:
# random
import random
print(random.randint(1,10))

8

In [38]:
# datatime
import datetime
print(datetime.datetime.now())

2025-02-20 16:28:19.524851

# loops

In [41]:
# while loops

In [43]:
n=int(input("enter the number:"))
i=1
while i<11:
    print(n*i)
    i+=1

enter the number: 12

12
24
36
48
60
72
84
96
108
120

In [45]:
x=1
while x<3:
    print(x)
    x+=1
else:
    print("limit crossed")

1
2
limit crossed

In [47]:
# build a guessing game

In [57]:
import random
pot=random.randint(1,50)
ip=int(input("enter the number:"))
counter=1

while ip!=pot:
    if ip<pot:
        print("galat higher")
    else:
        print("guess lower")
    ip=int(input("enter the number:"))
    counter+=1
else:
    print("correct guess")
    print("attempts",counter)

enter the number: 6

galat higher

enter the number: 35

guess lower

enter the number: 30

guess lower

enter the number: 25

guess lower

enter the number: 20

guess lower

enter the number: 6

galat higher

enter the number: 15

galat higher

enter the number: 16

galat higher

enter the number: 17

correct guess
attempts 9

In [59]:
# for loop

In [61]:
for i in range (1,6):
    print(i)

1
2
3
4
5

In [63]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [65]:
for i in "Delhi":
    print(i)

D
e
l
h
i

In [69]:
cur=10000
for i in range (10,0,-1):
    print(i,cur)
    cur=cur/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [71]:
# sequence sum

In [73]:
n=int(input("number:"))

result=0
fact =1
for i in range (1,n+1):
    fact=fact*1
    result =result +i/fact
print(result)

number: 3

6.0

In [75]:
# nested loops

In [81]:
for i in range (1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [87]:
n =int(input("enter the rows:"))
for i in range (1,n+1):
    for j in range (1,i+1):
        print("*",end='')
    print()

enter the rows: 5

*
**
***
****
*****

In [89]:
n =int(input("enter the rows:"))


for i in range (1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    for k in range (i-1,0,-1):
        print(k,end="")

    print()

enter the rows: 4

1
121
12321
1234321

# loop control statemts
#break,continue,pass

In [92]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [96]:
lower=int(input("enter lower range:"))
upper=int(input("enter upper range:"))

for i in range(lower,upper+1):
    for j in range (2,i):
        if i%j==0:
            break
    else:
        print(i)

enter lower range: 10
enter upper range: 20

11
13
17
19

In [98]:
# continue

In [100]:
for i in range (1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [102]:
# pass

In [106]:
for i in range (1,10):
    pass